<div class="ion-page">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-content [fullscreen]="true">

    <ion-card-header>
      <ion-card-title>Cursos</ion-card-title>
    </ion-card-header>
    <ion-card>
      <ion-list lines="none">
        <ion-item *ngFor="let item of cursos">
          <ion-label>
            <h2>{{ item.nombreCurso }}</h2>
            <p hidden id={{item.idusuariocurso}} *ngIf="usuario?.admin == 0">Nota del curso: {{ item.nota }}</p>
            <div hidden id={{item.nombreCurso}}>
              <ion-grid *ngFor="let usus of item.usuarios; index as i">
                <ion-row>
                    <ion-col size="6">
                        <h2 class="ion-text-start">{{ usus }}</h2>
                    </ion-col>
                    <ion-col size="6" class="endcol">
                      <h2>Nota: {{ item.notas[i] }}</h2>
                    </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-label>
          <ion-button (click)="expandirCurso(item.idusuariocurso)" *ngIf="usuario?.admin == 0">
            <ion-icon name="arrow-down-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="expandirCursoUsuario(item.nombreCurso)" *ngIf="usuario?.admin == 1">
            <ion-icon name="arrow-down-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-title *ngIf="cursos.length == 0">No tienes cursos</ion-title>
      </ion-list>
      
    </ion-card>
  </ion-content>
  
</ion-content>
</div>